////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////
$colorPrimary : #006FFF;
$colorSecondary : #8494A8;
$colorSuccess: #1DCC70;
$colorDanger : #ff2d55;
$colorWarning : #FFB400;
$colorInfo : #754AED;

$colorLine : rgb(223, 228, 231);

$colorHeading : #282D33;
$colorText : #73767A;
$colorLight : #A9ABAD;

////////////////////////////////////////////////////
// Border Radius
////////////////////////////////////////////////////
$borderRadius: 6px;
